.generalContainer{
    background: #EEF1F8;
overflow:hidden;
}

.card1Title{
    font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 61px;
        text-transform: capitalize;
        color: #000000;
}

.townHousesDetails {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 195.4%;
    letter-spacing: 0.01em;
    color: #6C6C6C;
}

.banner {
    background: url("../asset/images/img5.png");
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-x: 50%;
        height: 666px;
        left: -1px;
        top: 128px;
}

   .bannerInfo {
       font-size: 20px;
       padding-left: 15px;
   }

.container{
    background-color: #ffffff;
}

.crd{
    background-color: #ffffff;
height: 110px;
    width: 276px;
    top: 0px;
box-shadow: 0px 4px 20px rgba(125, 125, 125, 0.12);
    border-radius: 8px;
    padding: 10px;
        gap: 10px;
}

.crdAmenities{
Width: 364px;
 Height: 252px;
background-color: #ffffff;
box-shadow: 0px 4px 20px rgba(125, 125, 125, 0.12);
    border-radius: 8px;
}

.hr{
Width: 73px;
 Height: 6px; 
    background-color: #FF7A00;
    margin: 1.7rem auto;
}

.icondiv{
background:#FFEAD8;
    width: 64px;
    height: 64px;
border-radius: 50%;
    background: #FFEAD8;
display: flex;
justify-content: center;
align-items: center;
}

.icon{
    color: #FF7A00;
        width: 29px;
        height: 29px;
        left: 17px;
        top: 18px;
}

.eclipse{
        position: absolute;
            left: 94.5%;
            font-size: 50px;
            font-weight: 100;
            right: -23.17%;
            margin-top: 95px;
            padding: 10px;
                border-radius: 50%;
                color: #FF7A00;
                    background: #FFEAD8;
}

 .pricingIm{
position: absolute;
    width: 131px;
    height: 27px;
    left: 21px;
    top: 10px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 190.27%;
    letter-spacing: 0.025em;
color: #FF7A00;
} 

.pricingI {
position: absolute;
width: 131px;
height: 27px;
left: 21px;
top: 10px;
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 190.27%;
letter-spacing: 0.025em;
color: #858383;
}

.btn{
width: 173px;
    height: 47px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btnBorder{
width: 173px;
    height: 47px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom: 3px solid#FF7A00;
}


.pricingContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricingImg{
    height: 522px;
        width: 459px;
       
      margin-bottom: 170px;
        
}

   .plan{
height: 550px;
    width: 575px;
    margin-top: 20px;
    margin-bottom: 137px;
   }

@media only screen and (min-width: 280px) and (max-width: 640px){
    .bannerInfo {
        padding: 2rem 3rem;
    }

          .eclipse {
            display:none;
          }

    .banner {
height: 450px;
        left: -3px;
            top: 23px;
    }

   .bannerInfo {
       font-size: 15.2px;
       margin: 0px 0px 32px;
   }

   .pricingContainer{
    display: block;
   }

   .generalContainer {
       background: #EEF1F8;
   }

   .card1Title {
       font-weight: 600;
       font-size: 30px;
       line-height: 50px;
   }

   .townHousesDetails {
       line-height: 187.5%;
   }

   .crd {
       height: 90px;
   }

   .crdAmenities {
       Width: 300px;
       Height: 250px;
   }

  .hr {
      Width: 43px;
      Height: 4px;
      margin: 1rem auto;
  }

   .icondiv {
    margin:0 auto;
       width: 55px;
       height: 55px;
   }

   .icon {
       width: 27px;
       height: 27px;
   }

   .btn {
       box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.10);
   }

   .btndiv{
    display: block;
    text-align: center;
   }

   .pricingContainer {
       display: block;
   }

   .crdUl{
    text-align: center;
   }

   .listContainer{
    margin-left: 35px;
    text-align: center;
   }
   .pricingImg {
       width: 300px;
       height: 400px;
    margin-bottom: 1px;
        padding-right: 35px;
   }
    .plan{

    /* padding-bottom: 2px; */
    
            width: 300px;
            height: 500px;
            margin-top: 10px;
                margin-bottom: 1px;
                padding-right: 35px;
        
    }
   
}

@media only screen and (min-width: 641px) and (max-width: 768px){
.uldiv{
        /* display:block; */
        /* display: flex; */
            /* flex-direction: row; */
        /* width: 50%;
        flex-wrap: wrap; */
         
                width: 50%;
                /* padding: 0 10px; */
            /* width: 50%;
            height: 100vh; */
        /* justify-content: space-between; */
        /* flex-wrap: wrap; */
        /* align-items: center; */
    }
          .crdAmenities {
             
                    /* height: 100vh; */
                    
            
          }
}


@media only screen and (min-width: 769px) and (max-width: 1024px) {
.eclipse {
        left: 90.5%;
        font-size: 45px;
        margin-top: 55px;
      
    }
   .crdContainer{
        display: flex;
        flex-wrap:wrap;
        align-items:center;
        justify-content:space-around;
        
    }
        .crdUl{
            display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;
        }

        .btndiv{
            display: flex;
            justify-content:space-between;
            align-items: center;
        }
                .pricingImg {
                    width: 500;
                    height: 500px;
                    /* margin-bottom: 2px; */
                   

                }
        
                .plan {
        
                    /* padding-bottom: 2px; */
        
                    width: 300px;
                    height: 500px;
        
                }
}

/* @media only screen and (min-width: 1200px) and (max-width: more) {} */