.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero_heading {
  font-size: 2.9rem;
  color: #ffffff;
  font-weight: bold;
}

.hero_message {
  font-size: 14px;
  color: #e2e2e2;
  margin: 20px 0;
}

.hero__cta {
  width: 189px;
  height: 48px;
  background-color: var(--titaniumOrange);
  border-radius: 30px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

@media (min-width: 768px) {
}
