.generalContainer {
    margin-bottom: 10rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutTittle {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
    color: #141D32;
    width: 206px;
    height: 61px;
    margin-bottom: 10px;
}

.aboutText {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 190.27%;
    text-align: center;
    letter-spacing: 0.025em;
    color: #6C6C6C;
    padding: 0 1rem;
    height: 90px;
    margin-top: 10px;
    margin-bottom: 2rem;
}

.aboutImageContainer {
    padding: 0 3rem;
}

/*Vision styling*/
.visionContainer {
    /* width: 1440px; */
    width: 100%;
    height: 545px;
    background: #EEF1F8;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    position: relative;

}

.visionLeft {
    width: 315px;
    /* width: 20%; */
    height: 545px;
    background: #FF7A00;
    position: relative;
}

.visionTitle {
    width: 212px;
    height: 61px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 61px;
    color: #141D32;
}

.visionText {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-transform: capitalize;
    color: #6C6C6C;
    width: 486px;
    height: 60px;
}

.visionRight {
    background: #EEF1F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;

}

.visionAbsoluteContainer {
    position: relative;
}

.imageContainer {
    position: absolute;
    top: 12%;
    left: 10%;
}

/*values*/
.valuesContainer {
    background-color: #FFFFFF;
}

.valueTitle {
    width: 212px;
    height: 61px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 61px;
    color: #141D32;
    margin-top: 2rem;
    margin-bottom: 0.5rem;

}

.valueText {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-transform: capitalize;
    color: #6C6C6C;
    height: 60px;
    margin-top: 2rem;
}

.valueBorder {
    margin: 1rem 0;
}

.valueTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
    flex-wrap: wrap;
}

.card {
    width: 360px;
    height: 283px;
    background: #F2F6FF;
    border-radius: 16px;
    position: relative;
    margin-bottom: 2rem;
}

.vectorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 73px;
    height: 73px;
    background: #FF7A00;
    position: absolute;
    top: -12%;
    right: 5%;
}

.cardTitle {
    height: 43px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 42px;
    color: #141D32;
    padding-top: 4rem;
    padding-left: 15px;
    margin-bottom: 25px;
}

.cardText {
    height: 60px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #6C6C6C;
    padding-top: 1rem;
    padding-left: 15px;
    padding-top: 25px;
}