.container {
  height: auto;
}

.containerInner {
  height: 70vh;
  color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.textContainer {
  z-index: 2;
  text-align: center;
}

.textContainer h2 {
  font-weight: 700;
  font-size: 45px;
}
.textContainer p {
  width: 50vw;
  font-weight: 400;
  font-size: 16px;
}

@media (max-width: 768px) {
  .textContainer p {
    width: 95vw;
    margin-top: 15px;
  }
}

@media (max-width: 520px) {
  .textContainer {
    padding: 2rem;
  }
  .textContainer h2 {
    font-size: 40px;
  }
  .textContainer p {
    width: 95vw;
    margin-top: 15px;
  }
}

@media (max-width: 380px) {
  .textContainer h2 {
    font-size: 35px;
  }
  .textContainer p {
    font-size: 14;
  }
}
